.btn {
    border-radius: 25px;
    font-size: $small;
}

.container__btn {
    background-color: $nickel;
    border-color: $nickel;
   
    &:hover {
        background-color: $platinum;
        border-color: $platinum;
    }

    &:focus {
        border-color: $platinum;
    }

}


