// Esquema de colores

// Primer esquema de color
$white: #FFF;
$platinum: #E6E7E7;
$light-gray:#D1D1D1;

// Segundo esquema de color
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

// Tercero esquema de color
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

// Tipografía
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;

// Tamaño de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;