#color-nav {
    height: 70px;
    background-color: $eerie-black !important;
}
.navbar_logo {
    width: 80px;
}
#navbarNavDropdown {
    font-size: $medium;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
    background-color: $eerie-black; 
  }
.nav-link {
    color: $white !important;
    
    &:hover {
        color: $fuzzy-wuzzy !important;
    }
}