
#color-nav {
    height: 70px;
    background-color: $eerie-black !important;
}
.navbar_logo {
    width: 80px;
}
#navbarNavDropdown {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;   
  }
#btn-active {
    color: $ruddy-pink;
}