#pagination {
    background-color: $platinum;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.page-link {
    color: $raisin-black;
    font-family: $roboto;
    font-size: $medium;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
        background-color: $nickel;
        color: $white;
    }
}

@media (min-width: 480px) {
    .page-link {
        font-size: $large;
    }
    
}